Dagable.Api/Dagable.Api/bin/
Dagable.Api/Dagable.Api/obj/
Dagable.Api/Dagable.Api.Services/obj/

Dagable.Api/Dagable.Api.Services/bin/
Dagable.Api/.vs/
.vs/
Dagable.Api/bin
Dagable.Api.Core/bin
Dagable.Api.Core/obj
Dagable.Api.Services/bin
Dagable.Api.Services/obj
Dagable.Api/obj
/Dagable.DataAccess/bin
/Dagable.DataAccess/obj
/Dagable.DataAccess.Migrations/bin
/Dagable.DataAccess.Migrations/obj
/packages/
/Dagable.ErrorManagement/bin
/Dagable.ErrorManagement/obj